{% extends 'base.html.twig' %}

{% block title %}{{ appName }} offres {% endblock %}

{% block signature %}{% endblock %}

{% block body %}
<!-- BANNER SECTION -->
<section class="banner-section-small cover-bg-no-repeat" style="background-image: url('{{ asset('themes/front/assets/img/core/concept.png') }}');">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="caption">
                    <h1>NOS OFFRES PARTENAIRES</h1>
                    <p>Le Club Intellia se veut exclusif, c’est la raison pour laquelle nous sélectionnons nos partenaires selon des critères bien spécifiques. Retrouvez, consultez et commandez à partir d’ici l’ensemble des offres, services et avantages que proposent nos partenaires.</p>
                </div>
            </div>
        </div>

        {{ include('offres/_search_form.html.twig') }}

    </div>
</section>

{{ include('offres/_section.html.twig') }}

        <!-- START BLOG --     
        <section id="blog" class="fresh-news costom-padding">
            <div class="container">            
                <div class="row">
                    {% for offre in offres %}                  
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp d-flex align-content-stretch" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                        <div class="single_blog text-light mb-3 w-100 shadow primary-bg {{ offre.categorieoffre.slug }}">

                            <a href="{{ path('app_offres_detail', {slug: offre.slug}) }}">
                                <div class="offer_img" style="background-image: url('{{ offre.imageName ? vich_uploader_asset(offre) | imagine_filter('midle_size') : '' }}');background-size: cover;background-position: center;height: 250px;display: block;width: 100%;position: relative;">
                                    <div class="triangle">
                                        {% if offre.company %}

                                            {% if offre.company.picture %}

                                                <img src="{{ vich_uploader_asset(offre.company) | imagine_filter('very_small_avatar') }}" style="width: 30px; height: auto; position: absolute; left: 60%; top: 10%;">

                                            {% endif %}

                                        {% endif %}
                                    </div>                        
                                </div>
                            </a>

                            <div class="primary-bg p-3">
                                <h3 class="text-light text-center"><a href="{{ path('app_offres_detail', {slug: offre.slug}) }}" class="text-light">{{ offre.name }}</a></h3>
                                <p class="p-0 text-center">{{ offre.description|u.truncate(90, '...') }}</p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12">
                        <p class="lead text-center">Aucune offres disponible pour l'instant...</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                     {{ knp_pagination_render(offres) }}
                     </div>
                 </div>
             </div>    
         </section>
         <!-- END BLOG -->

         <!-- BECOME PARTENAIRE SECTION -->
         <section class="become-partenaire costom-padding cover-bg" style="background-image: url('{{ asset('themes/front/assets/img/core/WAVE_BACKGROUND3.png') }}');">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <div class="partenaire-form p-3 rounded wow fadeInUp bg-white costom-shadow" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">

                            {{ include('user/_partenaire_form.html.twig') }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BECOME PARTENAIRE SECTION -->
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('themes/front/assets/js/jquery-1.12.4.min.js') }}"></script>
        {{ parent() }}
        {% endblock %}
