{{ form_start(form) }}

<div class="row">
    
    <div class="col-md-8">
        {{ form_row(form.name) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.siret) }}
        {{ form_row(form.nbEmployees) }}

        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.email) }}
        {{ form_row(form.user) }}
        {{ form_row(form.description) }}
        {{ form_row(form.metier) }}
        {{ form_row(form.services) }}
        {{ form_rest(form) }}
    </div>

</div>

<button type="submit" class="btn btn-dark mr-3">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
