<table style="width: 100%; text-align: left!important;background: #b62961; margin-bottom: 40px;">
	<tbody>
		<tr>
			<th style="text-align: left;width: 50%;">
				{{ include('admin/admin_contract/_logo64.html.twig') }}
			</th>
			<td>
				<h1 style="color: white; text-align: center;font-size: 2rem;">Contrat
					<strong>{{ appName }}</strong>
				</h1>
			</td>
		</tr>
	</tbody>
</table>

<h4 style="font-size: 17px;">1 - Informations générale débiteur</h4>
<table style="width: 100%; text-align: left!important;">
	<tbody>
		<tr>
			<th style="text-align: left; width: 50%;">Nom de la société</th>
			<td>
				<strong>{{ user.company.name ?? '' }}</strong>
			</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">Nom et prénom</th>
			<td>
				<strong>{{ user.name ~ " " ~ user.lastname }}</strong>
			</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">N° Portable</th>
			<td>{{ user.telephone ?? '' }}
				/
				{{ user.company.phoneNumber ?? '' }}</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">Adresse postale</th>
			<td>{{ user.adress.street ?? '' }}</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">Ville</th>
			<td>{{ user.adress.city ?? '' }}</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">Code postal</th>
			<td>{{ user.adress.postalCode ?? '' }}</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">N° de SIRET</th>
			<td>
				<strong>{{ user.company.siret ?? '' }}</strong>
			</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">Nombres de salariés</th>
			<td>
				{% if user.company.nbEmployees == 1 %}
					0-4 salaries
				{% elseif user.company.nbEmployees == 2 %}
					5-9 salaries
				{% elseif user.company.nbEmployees == 3 %}
					10 salaries et +
				{% endif %}
			</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">Mail</th>
			<td>{{ user.company.email ?? '' }}</td>
		</tr>
	</tbody>
</table>
<hr>
<h4 style="font-size: 17px;">2 - Informations bancaires</h4>

<table style="width: 100%; text-align: left!important;">
	<tbody>
		<tr>
			<th style="text-align: left; width: 50%;">IBAN</th>
			<td>{{ contract.iban ?? '' }}</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">BIC</th>
			<td>{{ contract.bic ?? '' }}</td>
		</tr>
		<tr>
			<th style="text-align: left;">Nom de la Banque</th>
			<td>
				<strong>{{ contract.banqueName ?? '' }}</strong>
			</td>
		</tr>
	</tbody>
</table>

<hr>
<h4 style="font-size: 17px;">3 - Informations comptoir</h4>

<table style="width: 100%; text-align: left!important;">
	<tbody>
		<tr>
			<th style="text-align: left; width: 50%;">Commercial</th>
			<td>
				<strong>
					{{ contract.commercial.name ?? '' }}
					{{ contract.commercial.lastname ?? '' }}
				</strong>
			</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">Comptoir</th>
			<td>
				<strong>{{ contract.company.agenceadresse.agence.name ?? '' }}</strong>
			</td>
		</tr>
		<tr>
			<th style="text-align: left; width: 50%;">Agence</th>
			<td>{{ contract.company.agenceadresse.street ?? '' }}</td>
		</tr>
	</tbody>
</table>

<hr>
<h4 style="font-size: 17px;">4 - Signature
	<strong>Adhérent</strong>
</h4>
<table style="width: 100%; text-align: left!important;">
	<tbody>
		<tr>
			<td colspan="2">
				{% if contract.signature %}
					<img src="{{ contract.signature }}" alt="signature" height="150">
				{% else %}
					<span>aucune signature</span>
				{% endif %}
				<p class="p-0 m-0" style="font-style: italic;">Le
					{{ contract.contractDate ? contract.contractDate|date('d/m/Y à H:i') : '' }}</p>
			</td>
		</tr>
	</tbody>
</table>
